.App {
  text-align: center;
}

header {
  background-color: rgb(6, 20, 80);
  color: rgb(255, 255, 255);
}

nav {
  margin-left: 20px;
}

footer {
  background-color: rgb(6, 20, 80);
  color: rgb(255, 255, 255);
  bottom: 0;
  position: fixed;
  width: 100%;
}